
@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import url('https://fonts.cdnfonts.com/css/nigelina-95312');
@font-face {
    font-family: 'Abril Fatface Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Abril Fatface Regular'), url('/Fonts/AbrilFatface-Regular.woff') format('woff');
    }

*{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display:none;
}

body {

	background: linear-gradient(45deg, #cce609, #e05061, #79e0c1, #c5ea20);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
    overflow-x: hidden;
}

/* this basically creates a big wallpaper with a big gradient, then moves it around for the animation */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar{
    height: 290px;
    padding-bottom: 40px;
}

nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:69px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    font-family: 'Nigelina', sans-serif;
    text-decoration: none;
    font-size: 100px;
    line-height: 50px;

}

nav ul li{
    font-family: 'Nigelina', sans-serif;
    font-size: 26px;
    display: inline-block;
    padding: 14px;
    color: black;
}

a {
    text-decoration: none;
    color:black;
}
 
a:hover{
    color: #ffffff;
    transition: .4s;
}
 
 .Mcontent{
    font-family: 'Nigelina', sans-serif;
    padding-left: 14%;
    padding-right: 26%;
}

/*.Mimg{
    height: 300px;
    width: 300px;
    padding-right: 0px;
    padding-left: 0px;
}
*/

.TWtxt{
    width: 100%;
    border-right: 3px solid;
    white-space: nowrap;  
    overflow: hidden;
    animation:
        typing 3s,
        cursor .4s step-end infinite alternate;
}

 @keyframes cursor {
    50% { border-color: transparent;}
}

 @keyframes typing{
    from{ width :0%} 
}
h2{
    color: #030303;
    font-size: 170px;
    line-height: 94%;
    padding-bottom: 30px;
}

h3{
    color: #c3fb1b;
    text-shadow: 1px 1px 2px #000000;
    font-size: 69px;
}

.Pcontent{
padding-left: 14%;
font-family: 'Nigelina', sans-serif;
padding-top: 69px;
font-size: 21px;
 }

p.TWtxt{
    font-size: 30px;
}

.footer {
    padding-top: 5%;
}

.ftext{
    font-family: 'Nigelina', sans-serif;
    font-size: 24px;
    line-height:40px ;
    text-align: center;

}

.fimgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.fimgs{
    width: 110px;
    height: 100px;
    margin: 0 10px;
}

@media screen and (max-width:600px){

    .navbar{
        height: 250px;
        padding-bottom: 0px;
        display: inline-block
    }

   .logo{
        font-family: 'Nigelina', sans-serif;
        text-decoration: none;
        font-size:69px;
        padding-right: 69%;
    
    }

    nav{
        height: 60px;
        display: flex;
        padding-top:69px;
        padding-left: 8%;
        padding-right: 8%;
        line-height: 70%;
    }

    nav ul li{
        font-family: 'Nigelina', sans-serif;
        font-size: 20px;
        display: inline-block;
        color: black;
        
    }
    
    .Mcontent{
        font-family: 'Nigelina', sans-serif;
        padding-left: 5%;
        padding-right: 12%
    }
    
    h2{
        color: #030303;
        font-size: 65px;
        line-height: 100%;
        padding-bottom: 15px;
    }

    h3{
        color: #d8ff2d;
        text-shadow: 1px 1px 2px #150404;
        font-size: 52px;
    }

    .Pcontent{
        padding-left: 6%;
        font-family: 'Nigelina', sans-serif;
        padding-top: 30px;
        font-size: 18px;
         }

    p.TWtxt{
        font-size: 20px;
    }

 

    .footer {
        padding-top: 40%;
    }

    .ftext{
        font-family: 'Nigelina', sans-serif;;
        font-size: 19px;
        line-height:30px ;
        text-align: center;
    
    }
}
